.component-open{
  visibility: 1;
  opacity: 1;
}
.component-close{
  visibility: 0;
  opacity: 0;
  z-index: -10 !important;
}
.component{
  transition: visibility .15s linear, opacity .15s linear;
}

.comp-scroll-helper{
  min-width: 160px;
  position: fixed;
  left: 70%;
  top: 65%;
  z-index: 9995;
  -moz-user-select: none;
  -webkit-user-select: none;
  background-color: hsla(0, 8%, 50%, .3);
  box-sizing: border-box;
  border-radius: 6px;
  text-align: center;
  overflow: hidden;
}
.comp-scroll-helper>.drag-zone{
  height: 30px;
  display: block;
  padding: 0 6px;
  background-color: hsla(0, 0%, 50%, .18);
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}
.comp-scroll-helper>.pointerlock-zone{
  height: 110px;
  margin: 0;
  line-height: 1.2;
  color: gray;
}